@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* inheritance */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f1f2f6;
  background-image: linear-gradient(315deg, #f1f2f6 0%, #c9c6c6 74%);
  background-repeat: no-repeat;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body::-webkit-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  display: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

.sidebar {
  height: auto;
  position: fixed;
  overflow-x: hidden;
  z-index: 1;
  right: -105px;
  top: 30%;
  background-color: black;
  border-radius: 40px 0px 0px 40px;
  -webkit-transition: right 0.2s ease-in;
  transition: right 0.2s ease-in;
}

.sidebar:hover {
  right: 0;
}

.sidebar__list {
  text-align: center;
  margin-left: 35px;
}

.sidebar__item {
  margin-bottom: 40px;
  margin-right: 20px;
  list-style: none;
}

.sidebar__item:first-child {
  margin-top: 40px;
}

.sidebar__item a {
  font-size: 14px;
  letter-spacing: 2px;
  color: white;
  -webkit-transition: border 0.5s ease-in;
  transition: border 0.5s ease-in;
}

.sidebar__item a:after {
  display: block;
  content: '';
  border-bottom: 1px solid lightgrey;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.sidebar__item a:hover {
  color: lightgrey;
}

.sidebar__item a:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.media {
  margin-right: 400px;
  margin-left: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  background-color: black;
  border-radius: 0px 0px 70px 70px;
  padding: 10px;
  z-index: 100;
  top: 0;
}

.media__list {
  margin: 0 auto;
}

.media__item {
  list-style: none;
  display: inline;
  margin-left: 100px;
}

.media__item:last-child {
  margin-right: 100px;
}

.fab, .far {
  font-size: 35px;
  color: white;
}

.fab:after, .far:after {
  display: block;
  content: '';
  border-bottom: 1px solid lightgrey;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.fab:hover, .far:hover {
  color: lightgray;
}

.fab:hover:after, .far:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.container__item {
  height: 100vh;
  width: 100vw;
}

.container__flexsection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
}

.container__photo {
  margin-top: 180px;
  margin-right: 100px;
}

.container__photo--about {
  width: 450px;
  border-radius: 50%;
  -webkit-animation-name: slide_down;
          animation-name: slide_down;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.container__text {
  margin-top: 180px;
  margin-right: 100px;
  line-height: 2;
  -webkit-animation-name: slide_up;
          animation-name: slide_up;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  text-align: justify;
}

.container__text--trimmedmargins {
  position: relative;
  margin-right: 100px;
  width: 400px;
}

.container__text--one {
  opacity: 0;
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
}

.container__text--two {
  opacity: 0;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.container__text--three {
  opacity: 0;
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
}

.container__list {
  padding-top: 100px;
}

.container__list ul {
  text-align: center;
}

.container__list ul li {
  display: inline;
  border-radius: 20px;
  margin-right: 40px;
}

.container__list ul li:first-child {
  margin-left: -40px;
}

.container__button {
  font-size: 16px;
  border: solid 2px black;
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(black));
  background: linear-gradient(to bottom, black, black);
  background-repeat: no-repeat;
  background-size: 100% 0%;
  letter-spacing: 2px;
  padding: 10px;
  -webkit-transition: color .5s ease-in-out, background-size 1s 0s;
  transition: color .5s ease-in-out, background-size 1s 0s;
  opacity: 0;
}

.container__button--one {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.container__button--two {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.container__button--three {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.container__button:hover {
  color: white;
  background-size: 100% 100%;
}

.signature {
  margin-top: 20px;
  margin-left: 250px;
  margin-right: 250px;
  display: block;
  text-align: center;
  font-size: 30px;
}

.signature__name {
  margin-left: -150px;
  opacity: 0;
  -webkit-animation: slide_right 1.5s forwards;
          animation: slide_right 1.5s forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.signature__surname {
  margin-left: 150px;
  opacity: 0;
  -webkit-animation: slide_left 1.5s forwards;
          animation: slide_left 1.5s forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.study {
  position: absolute;
}

.experience {
  position: absolute;
}

.technologies {
  position: absolute;
}

.flexsection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 100vw;
}

.sticker {
  height: 20vh;
  width: 50px;
  background-color: black;
  position: absolute;
  right: 0vw;
  z-index: 1;
  border-radius: 20px 0 0 70px;
  -webkit-box-shadow: -10px 0px 20px 5px #5c5c5c;
  box-shadow: -10px 0px 20px 5px #5c5c5c;
  -webkit-clip-path: inset(-135px 0px -135px -135px);
          clip-path: inset(-135px 0px -135px -135px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sticker__label {
  -webkit-transform: rotateZ(90deg) translateY(15px);
          transform: rotateZ(90deg) translateY(15px);
  text-align: center;
  font-size: 20px;
}

.sticker:hover {
  color: white;
}

#sticker_2 {
  margin-top: 20vh;
}

#sticker_3 {
  margin-top: 40vh;
}

#sticker_4 {
  margin-top: 60vh;
}

.card {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: black;
  border-bottom-left-radius: 50px;
  -webkit-box-shadow: -10px 0px 20px 5px #5c5c5c;
  box-shadow: -10px 0px 20px 5px #5c5c5c;
  -webkit-clip-path: inset(-35px 0px 0px -35px);
          clip-path: inset(-35px 0px 0px -35px);
}

.timeline__line {
  margin-top: 10vh;
  margin-left: 250px;
  margin-right: 250px;
  height: 6px;
  border-radius: 5px;
  background-color: #ff6b61;
  position: relative;
}

.timeline__point {
  position: absolute;
  width: 16px;
  height: 16px;
  border: 3px solid #ff6b61;
  border-radius: 12px;
  top: -7px;
  background-color: black;
}

.timeline__point:before {
  content: '';
  width: 10px;
  height: 10px;
  background: #ff6b61;
  position: absolute;
  border-radius: 100%;
  top: 3px;
  left: 3px;
  display: none;
}

.timeline__point:hover:before {
  display: block;
}

.timeline__point--active:before {
  display: block;
}

.timeline__content {
  margin-top: 2vh;
  margin-left: 250px;
  margin-right: 250px;
}

.timeline__date {
  font-size: 40px;
  text-align: center;
  color: #ff6b61;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.timeline__popupDate {
  position: absolute;
  top: 50px;
  left: -40px;
  width: 150px;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.timeline__popupDate--active {
  top: 30px;
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.timeline__description {
  margin-top: 180px;
  position: relative;
  color: #ff6b61;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 250px;
  margin-right: 250px;
}

.event {
  top: -30px;
  margin: 20px;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.event__title {
  font-size: 40px;
  margin: 20px;
}

.event__content {
  margin-top: 30px;
}

#CV_section {
  background-image: url(../img/wave1.svg);
  background-repeat: no-repeat;
  background-position-y: bottom;
}

#HOBBIES_section {
  color: #7e7d7d;
}

#CONTACT_section {
  background-image: url(../img/wave2.svg);
  background-repeat: no-repeat;
  background-position-y: top;
}

.arrowup {
  background: black;
  position: fixed;
  bottom: 0px;
  right: 20px;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
  border-radius: 50%;
}

.active {
  opacity: 1;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.active--button {
  bottom: 20px;
}

.animation--right {
  -webkit-animation-name: slide_right;
          animation-name: slide_right;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.animation--left {
  -webkit-animation-name: slide_left;
          animation-name: slide_left;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.fadein {
  opacity: 0;
  -webkit-animation: rotateY_in 1s linear;
          animation: rotateY_in 1s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.fadeout {
  opacity: 1;
  -webkit-animation: rotateY_out 1s linear;
          animation: rotateY_out 1s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#more-arrows {
  width: 75px;
  height: 65px;
  fill: white;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  padding: 20px;
}

#more-arrows:hover polygon {
  fill: #FFF;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#more-arrows:hover polygon.arrow-bottom {
  -webkit-transform: translateY(-18px);
  transform: translateY(-18px);
}

#more-arrows:hover polygon.arrow-top {
  -webkit-transform: translateY(18px);
  transform: translateY(18px);
}

polygon {
  fill: #FFF;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

polygon.arrow-middle {
  opacity: 0.75;
}

polygon.arrow-top {
  opacity: 0.5;
}

@-webkit-keyframes slide_down {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide_down {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide_up {
  from {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide_up {
  from {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide_right {
  from {
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide_right {
  from {
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide_left {
  from {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide_left {
  from {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes rotateY_out {
  100% {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
}

@keyframes rotateY_out {
  100% {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
}

@-webkit-keyframes rotateY_in {
  from {
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}

@keyframes rotateY_in {
  from {
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
/*# sourceMappingURL=styles.css.map */