$main_color: black;
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* inheritance */
// %var {
//     font-size: 10px;
//     font-family: sans-serif;
//     padding: 10px;
// }

// .success {
//     @extend %var;
//     background-color: green;
// }


// variables
$media_margin: 400px;
$side_margin: 100px;
$sidebar_margin: 250px;
$top_margin: 180px;
$main_red: #ff6b61;
$sticker_width: 50px;

// class definitions
body {
    font-family: Architects Daughter;
    font-size: 20px;
    overflow: hidden;
    
    cursor: none;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {  /* Hide scrollbar for Chrome, Safari and Opera */
        display: none;
    }
}

%cursor {
    position: absolute;
    font-size: 5px;
    line-height: 2px;
    width: 12px;
    height: 12px;
    color: black;
    border-radius: 50%;
    z-index: 100;
    pointer-events: none;
    display: none;
    text-align: center;
    mix-blend-mode: difference;
}

.cursor {

    &__one {
        @extend %cursor;
        transition: transform .3s ease-in-out;
        background-color: white;

        &--click {
            transform: scale(4);
        }

        p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__two {
        @extend %cursor;
        background-color: white;
        transform: translate3d(0%, 0%, 0);
        transition: 0.06s ease-in-out;
        transition-delay: 0;

        width: 8px;
        height: 8px;
        border-radius: 50%;
    }
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: #303030;
    background-repeat: no-repeat;
    background-image: url("../img/notebook.jpg");
    background-size: 100%;
    background-position-y: -500px;

    position: relative;

    &__item {
        position: absolute;
        height: 100vh;
        width: 100vw;
    }

    &__flexsection {
        display: flex;
        align-items: center; //vertically
        justify-content: center;
        margin-left: $side_margin;
        margin-right: $side_margin;
    }

    &__box {
        margin: 10%;
    }

    &__photo {
        margin-top: $top_margin;
        margin-right: $side_margin;

        &--about {
            width: 450px;
            border-radius: 50%;
            animation-name: slide_down;
            animation-duration: 1.5s;
            animation-fill-mode: forwards;
        }
    }

    &__text {
        margin-top: $top_margin;
        margin-right: $side_margin;
        line-height: 2;
        animation-name: slide_up;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        text-align: justify;

        &--trimmedmargins {
            position: relative;
            margin-right: 100px;
            width: 400px;
        }

        &--one {
            opacity: 0;
            animation-delay: 1.7s;
        }
        &--two {
            opacity: 0;
            animation-delay: 1.2s;
        }
        &--three {
            opacity: 0;
            animation-delay: .7s;
        }
    }

    &__list {
        padding-top: 100px;
        ul {
            text-align: center;
            li {
                display: inline;
                border-radius: 20px;
                margin-right: 40px;

                &:first-child {
                    margin-left: -40px;
                }
            }
        }
    }

    &__button {
        font-size: 16px;
        border: solid 2px black;
        border-radius: 20px;
        background: linear-gradient(to bottom, black, black);
        background-repeat: no-repeat;
        background-size: 100% 0%;
        letter-spacing: 2px;
        padding: 10px;
        transition: color .5s ease-in-out, background-size 1s 0s;
        opacity: 0;

        &--one {
            animation-delay: .5s;
        }
        &--two {
            animation-delay: 1s;
        }
        &--three {
            animation-delay: 1.5s;
        }

        &:hover {
            color: white;
            //background-color: black;
            background-size: 100% 100%;
        }
    }
}

.signature {
    margin-top: 20px;
    margin-left: $sidebar_margin;
    margin-right: $sidebar_margin;
    display: block;
    text-align: center;
    font-size: 30px;

    &__name {
        margin-left: -150px;
        opacity: 0;
        animation: slide_right 1.5s forwards;
        animation-delay: 0.5s;
    }

    &__surname {
        margin-left: 150px;
        opacity: 0;
        animation: slide_left 1.5s forwards;
        animation-delay: 1s;
    }
}

.study {
    position: absolute;
}

.experience {
    position: absolute;
}

.technologies {
    position: absolute;
}

#sticker_2 {
    margin-top: 20vh;
}
#sticker_3 {
    margin-top: 40vh;
}
#sticker_4 {
    margin-top: 60vh;
}

.card {
    display: flex;
    position: absolute;
    left: 100%;

    &--transition {
        transition: all .3s ease-in-out;
    }
    

    &__content {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: lightgrey;
        overflow: hidden;

        &--active {
            -webkit-box-shadow: -10px 0px 20px 5px rgb(92, 92, 92); 
            box-shadow: -10px 0px 20px 5px rgb(92, 92, 92);
            //clip-path: inset(0px 0px 0px -35px);
        }
    }

    &__sticker {
        height: 20vh;
        width: $sticker_width;
        background-color: black;
        position: absolute;
        right: 0vw;
        z-index: 1;
        border-radius: 20px 0 0 70px;
        display: flex;
        align-items: center;
        box-shadow: none;

        &--active {
            color: white;
            -webkit-box-shadow: -10px 0px 10px 0px rgb(92, 92, 92); 
            box-shadow: -10px 0px 10px 0px rgb(92, 92, 92);
            clip-path: inset(-135px 0px -135px -135px);
        }

        &:hover {
            color: white;
            -webkit-box-shadow: -10px 0px 10px 0px rgb(92, 92, 92); 
            box-shadow: -10px 0px 10px 0px rgb(92, 92, 92);
            clip-path: inset(-135px 0px -135px -135px);
        }
    }

    &__label {
        width: 40px;
        height: 40px;
        position: absolute;
        transform: rotateZ(90deg) translateX(-15px);
        text-align: center;
        font-size: 20px;
    } 

    &__close {
        color: $main_red;
        z-index: 100;
        position: absolute;
        text-align: center;
        font-size: 30px;
        top: 10px;
        left: 10px;
        opacity: 0;
        visibility: hidden;
        transition: all 1.5s ease-in-out, color .3s ease-in-out;

        &:hover {
            color: grey;
        }

        &--active {
            visibility: visible;
            opacity: 1;
            transform: rotate(540deg);
        }
    }

    &__trimmed {
        margin: 10% 10%;
    }

    &__flexbox {
        display: flex;
        vertical-align: middle;
        align-items: center;
    }
}

.timeline {

    &__line {
        z-index: 2;
        margin-top: 10vh;
        margin-left: $sidebar_margin;
        margin-right: $sidebar_margin;
        height: 6px;
        border-radius: 5px;
        background-color: black;
        position: relative;
    }

    &__pipeline {
        color: lightgrey;
        position: absolute;
        z-index: 1;
        padding-right: 10px;
        margin-right: 100px;
        top: -50px;
        height: 100px;
        border-right: dashed 2px black;
    }

    &__point {
        position: absolute;
        z-index: 2;
        width: 16px;
        height: 16px;
        border: 3px solid black;
        border-radius: 12px;
        top: -7px;
        background-color: black;

        &:before {
            content: '';
            width: 10px;
            height: 10px;
            background: lightgrey;
            position: absolute;
            border-radius: 100%;
            top: 3px;
            left: 3px;
            display: none;
        }

        &:hover:before {
            display: block;
        }

        &--active:before {
            display: block;
        }
    }

    &__content {
        margin-top: 10vh;
        margin-left: $sidebar_margin;
        margin-right: $sidebar_margin;
    }

    &__date {
        font-size: 40px;
        text-align: center;
        color: white;
        transition: all .2s ease-in-out;
        transition-delay: 0.1s;

        &--out {
            opacity: 0;
            transform: translateY(-80px);
        }
    }

    &__popupDate {
        color: lightgrey;
        mix-blend-mode: difference;
        position: absolute;
        top: 50px;
        left: -40px;
        width: 150px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease-in-out;

        &--active {
            top: 30px;
            visibility: visible;
            opacity: 1;
            transition: all 0.2s ease-in-out;

            &:hover {
                opacity: 0;
                visibility: hidden;
                top: 50px;
            }
        }
    }

    &__description {
        margin-top: $top_margin;
        position: relative;
        color: black;
        justify-content: center;
        align-items: center;
        margin-left: $sidebar_margin;
        margin-right: $sidebar_margin;
    }
}

.menu {
    position: absolute;
    top: 48.3%;
    left: 20px;
    width: 20%;
    height: 33%;
    font-family: Architects Daughter;

    &__list {
        position: relative;
        margin-top: 10px;
        margin-left: 5%;
    }

    &__item {
        list-style: none;
        font-size: 42px;
        margin-bottom: 7%;
    }
}

.slideshow {
    width: 100%;
    height: 100%;

    &__photo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &--one {
            background: url('../img/hobbies/calisthenics.jpg');
            background-size: cover;
        }
        &--two {
            background: url('../img/hobbies/trips.jpg');
            background-size: cover;
        }
        &--three {
            background: url('../img/hobbies/food.jpg');
            background-size: cover;
        }
    }

    &__dots {
        position: absolute;
        display: flex;
        width: 10%;
        height: 3%;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
    }

    &__dot {
        margin: auto;
        background: lightgrey;
        border-radius: 50%;
        width: 14px;
        height: 14px;
    }
}

#card__content_1 {
    background: url('../img/timeline/notebook.jpg');
    background-size: cover;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(128, 116, 116, 0.5);
    }
}

#card__content_2 {
    
}

#card__content_3 {
    
}

.event {
    top: -30px;
    margin: 20px;
    position: absolute;
    opacity: 0;
    transition: all 1s ease-in-out;

    &__title {
        font-size: 40px;
        margin: 20px;
        color: white;
    }

    &__content {
        margin-top: 30px;
        color: white;
        mix-blend-mode: hard-light;
    }
}

#cards_section {
    color: rgb(126, 125, 125);
}

.active {  
    opacity: 1;
    transition: all 1s ease-in-out;
    transition-delay: .2s;

    &--button {
        bottom: 20px;
    }
}
