$main_color: black;
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* inheritance */
// %var {
//     font-size: 10px;
//     font-family: sans-serif;
//     padding: 10px;
// }

// .success {
//     @extend %var;
//     background-color: green;
// }


// variables
$media_margin: 400px;
$side_margin: 100px;
$sidebar_margin: 250px;
$spacing_between_sidebar_items: 40px;
$top_margin: 180px;
$main_red: #ff6b61;
$sticker_width: 50px;

// class definitions
body {
    font-family: Architects Daughter;
    font-size: 20px;
    // background-color: #f1f2f6;
    // background-image: linear-gradient(315deg, #f1f2f6 0%, #c9c6c6 74%);
    
    cursor: none;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {  /* Hide scrollbar for Chrome, Safari and Opera */
        display: none;
    }
}

%cursor {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: blue;
    border-radius: 6px;
    z-index: 100;
    pointer-events: none;
    display: none;
}

.cursor {
    &__one {
        @extend %cursor;
    }
    &__two {
        @extend %cursor;
        transform: translate3d(0%, 0%, 0);
        transition: 0.06s ease-in-out;
        transition-delay: 0;

        width: 8px;
        height: 8px;
        border-radius: 4px;
    }
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

.sidebar {
    height: auto;
    position: fixed; //Disabled scroll
    overflow-x: hidden; //Disabled horizontal scroll
    z-index: 1;
    right: -105px;
    top: 30%;
    background-color: black;
    border-radius: 40px 0px 0px 40px;
    transition: right 0.2s ease-in;

    &:hover {
        right: 0;
    }

    &__list {
        text-align: center;
        margin-left: 35px;
    }

    &__item {
        margin-bottom: $spacing_between_sidebar_items;
        margin-right: 20px;
        list-style: none;

        &:first-child {
            margin-top: $spacing_between_sidebar_items;
        }
        
        a {
            font-size: 14px;
            letter-spacing: 2px;
            color: white;
            transition: border 0.5s ease-in;

            &:after {
                display: block;
                content: '';
                border-bottom: 1px solid lightgrey ;
                transform: scaleX(0);
                transition: transform 0.5s ease-in-out;
            }

            &:hover {
                color: lightgrey;
            }

            &:hover:after {
                transform: scaleX(1);
            }
        }
    }
}

.media {
    margin-right: $media_margin;
    margin-left: $media_margin;
    display: flex;
    position: fixed;
    left: 0; //center
    right: 0; //center
    background-color: black;
    border-radius: 0px 0px 70px 70px;
    padding: 10px;
    z-index: 100;
    top: 0;

    &__list {
        margin: 0 auto;
    }
    &__item {
        list-style: none;
        display: inline;
        margin-left: $side_margin;

        &:last-child {
            margin-right: $side_margin;
        }
    }
}

.fab, .far {
    font-size: 35px;
    color: white;

    &:after {
        display: block;
        content: '';
        border-bottom: 1px solid lightgrey ;
        transform: scaleX(0);
        transition: transform 0.5s ease-in-out;
    }

    &:hover {
        color: lightgray;
    }

    &:hover:after {
        transform: scaleX(1);
    }
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: #303030;
    background-repeat: no-repeat;
    background-image: url("../img/notebook.jpg");
    background-size: 100%;
    background-position-y: -500px;

    position: relative;

    &__item {
        position: absolute;
        height: 100vh;
        width: 100vw;
    }

    &__flexsection {
        display: flex;
        align-items: center; //vertically
        justify-content: center;
        margin-left: $side_margin;
        margin-right: $side_margin;
    }

    &__box {
        margin: 10%;
    }

    &__photo {
        margin-top: $top_margin;
        margin-right: $side_margin;

        &--about {
            width: 450px;
            border-radius: 50%;
            animation-name: slide_down;
            animation-duration: 1.5s;
            animation-fill-mode: forwards;
        }
    }

    &__text {
        margin-top: $top_margin;
        margin-right: $side_margin;
        line-height: 2;
        animation-name: slide_up;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        text-align: justify;

        &--trimmedmargins {
            position: relative;
            margin-right: 100px;
            width: 400px;
        }

        &--one {
            opacity: 0;
            animation-delay: 1.7s;
        }
        &--two {
            opacity: 0;
            animation-delay: 1.2s;
        }
        &--three {
            opacity: 0;
            animation-delay: .7s;
        }
    }

    &__list {
        padding-top: 100px;
        ul {
            text-align: center;
            li {
                display: inline;
                border-radius: 20px;
                margin-right: 40px;

                &:first-child {
                    margin-left: -40px;
                }
            }
        }
    }

    &__button {
        font-size: 16px;
        border: solid 2px black;
        border-radius: 20px;
        background: linear-gradient(to bottom, black, black);
        background-repeat: no-repeat;
        background-size: 100% 0%;
        letter-spacing: 2px;
        padding: 10px;
        transition: color .5s ease-in-out, background-size 1s 0s;
        opacity: 0;

        &--one {
            animation-delay: .5s;
        }
        &--two {
            animation-delay: 1s;
        }
        &--three {
            animation-delay: 1.5s;
        }

        &:hover {
            color: white;
            //background-color: black;
            background-size: 100% 100%;
        }
    }
}

.signature {
    margin-top: 20px;
    margin-left: $sidebar_margin;
    margin-right: $sidebar_margin;
    display: block;
    text-align: center;
    font-size: 30px;

    &__name {
        margin-left: -150px;
        opacity: 0;
        animation: slide_right 1.5s forwards;
        animation-delay: 0.5s;
    }

    &__surname {
        margin-left: 150px;
        opacity: 0;
        animation: slide_left 1.5s forwards;
        animation-delay: 1s;
    }
}

.study {
    position: absolute;
}

.experience {
    position: absolute;
}

.technologies {
    position: absolute;
}

#sticker_2 {
    margin-top: 20vh;
}
#sticker_3 {
    margin-top: 40vh;
}
#sticker_4 {
    margin-top: 60vh;
}

.card {
    display: flex;
    position: absolute;
    left: 100%;

    &--transition {
        transition: all .3s ease-in-out;
    }
    

    &__content {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: lightgrey;
        border-bottom-left-radius: 50px;

        &--rounded {
            border-top-left-radius: 50px;
        }

        &--active {
            -webkit-box-shadow: -10px 0px 20px 5px rgb(92, 92, 92); 
            box-shadow: -10px 0px 20px 5px rgb(92, 92, 92);
            //clip-path: inset(0px 0px 0px -35px);
        }
    }

    &__sticker {
        height: 20vh;
        width: $sticker_width;
        background-color: black;
        position: absolute;
        right: 0vw;
        z-index: 1;
        border-radius: 20px 0 0 70px;
        display: flex;
        align-items: center;
        box-shadow: none;

        &--active {
            color: white;
            -webkit-box-shadow: -10px 0px 10px 0px rgb(92, 92, 92); 
            box-shadow: -10px 0px 10px 0px rgb(92, 92, 92);
            clip-path: inset(-135px 0px -135px -135px);
        }

        &:hover {
            color: white;
            -webkit-box-shadow: -10px 0px 10px 0px rgb(92, 92, 92); 
            box-shadow: -10px 0px 10px 0px rgb(92, 92, 92);
            clip-path: inset(-135px 0px -135px -135px);
        }
    }

    &__label {
        width: 40px;
        height: 40px;
        position: absolute;
        transform: rotateZ(90deg) translateX(-15px);
        text-align: center;
        font-size: 20px;
    } 

    &__close {
        color: $main_red;
        z-index: 100;
        position: absolute;
        width: 100%;
        text-align: center;
        font-size: 30px;
        top: 0px;
        opacity: 0;
        visibility: hidden;
        transition: all 1.5s ease-in-out, color .3s ease-in-out;

        &:hover {
            color: grey;
        }

        &--active {
            visibility: visible;
            opacity: 1;
            transform: rotate(540deg);
        }
    }

    &__trimmed {
        margin: 10% 10%;
    }

    &__flexbox {
        display: flex;
        vertical-align: middle;
        align-items: center;
    }
}

.timeline {

    &__line {
        margin-top: 10vh;
        margin-left: $sidebar_margin;
        margin-right: $sidebar_margin;
        height: 6px;
        border-radius: 5px;
        background-color: $main_red;
        position: relative;
    }

    &__point {
        position: absolute;
        width: 16px;
        height: 16px;
        border: 3px solid $main_red;
        border-radius: 12px;
        top: -7px;
        background-color: black;

        &:before {
            content: '';
            width: 10px;
            height: 10px;
            background: $main_red;
            position: absolute;
            border-radius: 100%;
            top: 3px;
            left: 3px;
            display: none;
        }

        &:hover:before {
            display: block;
        }

        &--active:before {
            display: block;
        }
    }

    &__content {
        margin-top: 10vh;
        margin-left: $sidebar_margin;
        margin-right: $sidebar_margin;
    }

    &__date {
        font-size: 40px;
        text-align: center;
        color: $main_red;
        transition: all .2s ease-in-out;
        transition-delay: 0.1s;

        &--out {
            opacity: 0;
            transform: translateY(-80px);
        }
    }

    &__popupDate {
        position: absolute;
        top: 50px;
        left: -40px;
        width: 150px;
        opacity: 0;
        transition: all 0.2s ease-in-out;

        &--active {
            top: 30px;
            opacity: 1;
            transition: all 0.2s ease-in-out;
        }
    }

    &__description {
        margin-top: $top_margin;
        position: relative;
        color: $main_red;
        justify-content: center;
        align-items: center;
        margin-left: $sidebar_margin;
        margin-right: $sidebar_margin;
        
    }
}

.menu {
    position: absolute;
    top: 48.3%;
    left: 20px;
    width: 20%;
    height: 33%;
    font-family: Architects Daughter;

    &__list {
        position: relative;
        margin-top: 10px;
        margin-left: 5%;
    }

    &__item {
        list-style: none;
        font-size: 42px;
        margin-bottom: 7%;
    }
}
.highlight::after {
    content:"";
    background: linear-gradient(45deg,
    $main_red 0%, 
    darkgrey 10%,
    $main_red 20%, 
    darkgrey 30%,
    $main_red 40%, 
    darkgrey 50%,
    $main_red 60%, 
    darkgrey 70%,
    $main_red 80%, 
    darkgrey 90%,
    $main_red 100%
      )
    repeat 0% 0% / 300% 100%;
    position: absolute;
    inset: -10px;
    filter: blur(8px);
    transform: translateZ(-10px);
    border-radius: 25px;
    transition: opacity .5s ease-in-out;
    animation: highlight 10s linear infinite;
    opacity: 0;
}

.highlight:hover:after {
    opacity: 1;
}

@keyframes highlight {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
  }

.tile {
    max-height: 20%;
    max-width: 25%;
    background: url("../img/notebook_page.png");
    color: black;
    border-radius: 25px;
    margin: 0 auto;
    text-align: center;
    line-height: 27.5px;
    transform-style: preserve-3d;

    &--blured {
        filter: blur(5px);
        transition: filter .1s ease-in-out;
    }

    &__photo {
        padding: 10px;
        width: 15em;
        height: 12em;
        overflow: hidden;
        margin-bottom: 5%;
        margin: 5% auto;
    }

    &__label {
        font-size: 25px;
        padding-bottom: 15%;
        margin-left: 3em;
        text-align: left;
    }

    &__description {
        font-size: 17px;
        justify-content: center;
        align-items: center;
        text-align: justify;
        padding-left: 3%;
        padding-right: 3%;
        padding-bottom: 3%;
        border-radius: 25px
    }
}

.photo {
    background-position: center;
    background-size: cover;

    &--food {
        background-image: url("../img/hobbies/main/food.jpg");
    }
    &--trips {
        background-image: url("../img/hobbies/main/trips.jpg");
    }
    &--calistenics {
        background-image: url("../img/hobbies/main/calistenics.jpg");
    }
}

.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: line-anim 15s ease forwards;
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}

.event {
    top: -30px;
    margin: 20px;
    position: absolute;
    opacity: 0;
    transition: all 1s ease-in-out;

    &__title {
        font-size: 40px;
        margin: 20px;
    }

    &__content {
        margin-top: 30px;
    }
}

#cards_section {
    color: rgb(126, 125, 125);
}

.active {  
    opacity: 1;
    transition: all 1s ease-in-out;
    transition-delay: .2s;

    &--button {
        bottom: 20px;
    }
}
